$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;

$borderRad: 4px;
$pad: 4px;

$darkBlue: #004294;
$darkBlueHover: #004eb0;
$extraDarkBlue: #002F6A;
$lightBlue: #7bc8ff;
$gold: #ffca00;

$nearBlack: #272a26;
$blueGray: #477fad;
$lightBlueGray: #cfe7f7;
$extraLightBlueGray: #edf5fc;
$gray: #999;
$lightGray: #d0d0d3;
$extraLightGray: #f1f1f5;
$white: #fff;

$error: #de4f47;
$success: #00a151;
$alert: #f0b118;
$alertBg: #fffdf0;

$red: #de4f47;
$green: #00a151;
$lightGreen: #9FD927;
$blue: $darkBlue;
$black: $nearBlack;

$linkBlue: #0095ff;

$actionColor: $darkBlue;
$actionColorHover: $darkBlueHover;

$greyText: $gray;
$accentColor: $gold;

$headerBg: $darkBlue;
$navBg: $darkBlue;